<!-- Footer -->
<footer class="footer">
  <div class="container d-flex justify-content-between align-items-center">
      <!-- Left section: Alarms -->
      <div class="footer-left">
        <button type="button" id="test_alarm" class="btn btn-light">Test Alarm</button>
        <input type="text" id="alarm_message" value="no current alarm" class="field left" readonly>
        <button type="button" onclick="location.href = '/Alarms/index.html'" class="btn btn-light">Alarms Page</button>
      </div>

      <!-- Right section: Back to Top -->
      <div class="footer-right">
          <a href="#top" class="back-to-top">Back to Top</a>
      </div>
  </div>

  <div class="container d-flex align-items-left">
    <div class="footer-left">
      <p class="text-left">ToolDAQ © 2016</p>
      <p>Created by Dr. B.Richards (benjamin.richards@warwick.ac.uk)</p>
    </div>
  </div>
</footer>
<!-- footer.html -->
