<!-- Side Menu -->
  <div class="side-menu" id="side-menu">
    <div class="logo-section">
      <img src="/images/logo.png" alt="Logo" class="img-fluid">
    </div>

    <!-- Navigation Links -->
    <ul class="nav flex-column">
      <li class="menu-item">
        <a class="menu-item" href="/index.html">Home</a>
    </li>
    <!-- New Menu Links from tablist -->
    <li class="menu-item">
      <a class="menu-item" href="/Shift">Shift</a>
      <!-- Sub-menu for Shift -->
        <li class="menu-item">
          <a class="menu-item" href="/Shift/pageA">pageA</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/Shift/EventDisplay">EventDisplay</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/Shift/MonitoringExample">MonitoringExample</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/Shift/Monitoring">Monitoring</a>
        </li>
    </li>
    <li class="menu-item">
      <a class="menu-item" href="/Alarms">Alarms</a>
    </li>
    <li class="menu-item">
      <a class="menu-item" href="/DAQ">DAQ</a>
      <!-- Sub-menu for DAQ -->
        <li class="menu-item">
          <a class="menu-item" href="/DAQ/RunControl">RunControl</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/DAQ/Logs">Logs</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/DAQ/SQL">SQL</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/DAQ/Control">Control</a>
        </li>
    </li>
    <li class="menu-item">
      <a class="menu-item" href="/SubSystemExample">SubSystemExample</a>
      <!-- Sub-menu for SubSystemExample -->
        <li class="menu-item">
          <a class="menu-item" href="/SubSystemExample/pageA">pageA</a>
        </li>
    </li>
    <li class="menu-item">
      <a class="menu-item" href="/Config">Config</a>
      <!-- Sub-menu for Config -->
        <li class="menu-item">
          <a class="menu-item" href="/Config/DeviceConfig">DeviceConfig</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/Config/test">test</a>
        </li>
        <li class="menu-item">
          <a class="menu-item" href="/Config/Bootstrap">Bootstrap</a>
        </li>
    </li>
          <a class="menu-item" href="/login.html">Log Out</a>
        </li>
      </ul>
    </div>