<!-- Side Menu -->
<div class="side-menu" id="side-menu">
  <div class="logo-section">
    <img src="/images/logo.png" alt="Logo" class="img-fluid">
  </div>

  <!-- Navigation Links -->
  <ul class="nav flex-column">
    <li class="menu-item">
      <a class="menu-item" href="/index.html">Home</a>
    </li>
    
    <!-- Shift Menu with Submenu -->
    <li class="menu-item dropdown">
      <a class="menu-item dropdown-toggle" href="#" id="shiftDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Shift
      </a>
      <ul class="dropdown-menu" aria-labelledby="shiftDropdown">
        <li><a class="dropdown-item" href="/Shift/pageA">pageA</a></li>
        <li><a class="dropdown-item" href="/Shift/EventDisplay">EventDisplay</a></li>
        <li><a class="dropdown-item" href="/Shift/MonitoringExample">MonitoringExample</a></li>
        <li><a class="dropdown-item" href="/Shift/Monitoring">Monitoring</a></li>
      </ul>
    </li>
    
    <!-- Alarms Menu -->
    <li class="menu-item">
      <a class="menu-item" href="/Alarms">Alarms</a>
    </li>
    
    <!-- DAQ Menu with Submenu -->
    <li class="menu-item dropdown">
      <a class="menu-item dropdown-toggle" href="#" id="daqDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        DAQ
      </a>
      <ul class="dropdown-menu" aria-labelledby="daqDropdown">
        <li><a class="dropdown-item" href="/DAQ/RunControl">RunControl</a></li>
        <li><a class="dropdown-item" href="/DAQ/Logs">Logs</a></li>
        <li><a class="dropdown-item" href="/DAQ/SQL">SQL</a></li>
        <li><a class="dropdown-item" href="/DAQ/Control">Control</a></li>
      </ul>
    </li>
    
    <!-- SubSystemExample Menu with Submenu -->
    <li class="menu-item dropdown">
      <a class="menu-item dropdown-toggle" href="#" id="subSystemExampleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        SubSystemExample
      </a>
      <ul class="dropdown-menu" aria-labelledby="subSystemExampleDropdown">
        <li><a class="dropdown-item" href="/SubSystemExample/pageA">pageA</a></li>
      </ul>
    </li>
    
    <!-- Config Menu with Submenu -->
    <li class="menu-item dropdown">
      <a class="menu-item dropdown-toggle" href="#" id="configDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Config
      </a>
      <ul class="dropdown-menu" aria-labelledby="configDropdown">
        <li><a class="dropdown-item" href="/Config/DeviceConfig">DeviceConfig</a></li>
        <li><a class="dropdown-item" href="/Config/test">test</a></li>
        <li><a class="dropdown-item" href="/Config/Bootstrap">Bootstrap</a></li>
      </ul>
    </li>

    <!-- Log Out Menu Item -->
    <li class="menu-item">
      <a class="menu-item" href="/login.html">Log Out</a>
    </li>
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>